@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pixelify+Sans&family=Poppins:wght@100&display=swap");
body {
  font-family: "poppins", sans-serif;
  background-color: black;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

/* p {
  border: 10px solid black;
  border-radius: 50px;
  width: 10%;
  height: 50px;
  text-align: center;
  background-color: blueviolet;
  color: white;
}

.container {
  border: 0px solid;
  height: 900px;
  display: flex;
   flex-direction: row; 
  justify-content: space-evenly;
  align-items: center;
} */

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  transition: width 2s;
}

aside {
  border: 1px solid white;
  height: 10vh;
}

section {
  border: 5px solid transparent;
  display: flex;
  justify-content: center;
  background-image: url(/Images/background6.png);
  height: 45vh;
}

.navElement {
  background-color: rgb(0, 0, 0);
  color: white;
  padding: 5px;
  text-decoration: none;
  border: 5px solid rgb(0, 0, 0);
  margin-right: 10px;
  font-size: 2rem;
  font-style: bold;
  text-align: center;
  transition: 2s;
}

.navElement:hover {
  border: 5px solid black;
  color: rgb(214, 214, 214);
  background-color: rgb(69, 69, 69);
  border-radius: 25px;
}

#login {
  background-image: url(/Images/LoginBackground.jpg);
  background-repeat: no-repeat;
}

#_registry {
  background-image: url(/Images/RegistryBg.jpg);
}

#form {
  border: 5px solid transparent;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  padding: 100px;
  background-color: rgba(85, 85, 85, 0.242);
  box-shadow: 1px 1px 100px rgb(9, 20, 145), 0 0 10px rgb(99, 99, 99);
}

#_login,
#fPass {
  text-decoration: none;
  width: 100%;
  border: 5px solid transparent;
  border-radius: 10px;
  display: flex;
  background-color: rgba(9, 20, 145, 0.471);
  color: white;
  font-size: 2rem;
  transition: 1s;
}

#_login:hover,
#fPass:hover {
  box-shadow: 0px 0px 10px darkblue, 0 0 10px gray;
  background-color: rgba(9, 20, 145, 0.928);
}

#username,
#password {
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  border: 0px solid transparent;
  border-bottom: 2px solid white;
  border-radius: 0px;
  font-size: 1rem;
  color: white;
  outline: 0px;
}

#registry {
  background-color: rgba(85, 85, 85, 0.242);
  color: white;
  border: 5px solid transparent;
  border-radius: 10px;
  text-decoration: none;
  margin: 0.5px;
  font-size: 1.5rem;
  transition: 2s;
}

#password {
  text-shadow: 0 0 10px rgb(50, 0, 249), 0 0 10px gray;
  box-shadow: 2px 2px 50px rgb(99, 99, 99);
  background-color: rgba(85, 85, 85, 1);
}

#registryU,
#registryPass,
#repeatPass {
  background-color: rgba(0, 0, 0, 0);
  border: 0px solid transparent;
  border-bottom: 2px solid white;
  text-decoration: none;
  width: 20%;
  margin-left: 755px;
  margin-right: 750px;
  outline: 0px;
  font-size: 1rem;
}

#regi {
  height: 90vh;
  border: 5px solid white;
  background-color: rgba(0, 0, 0, 0);
}

#reg {
  width: 30vh;
  border: 1px solid transparent;
  border-bottom: 2px solid white;
  border-radius: 50px;
  outline: none;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  color: white;
  background-color: rgba(0, 69, 219, 0);
}

#reg:hover {
  background-color: rgb(8, 57, 181);
}

.time {
  color: white;
  border: 0px solid white;
  text-align: center;
  display: flex;
  justify-content: flex-end;
  font-size: 1.5rem;
}

#time {
  text-decoration: none;
  display: flex;
  font-family: "Pixelify Sans", sans-serif;
  border: 2px solid whitesmoke;
  width: 100px;
  padding: 5px;
  transition: 5s;
}
#time:active {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 250px;
  height: 10px;
  padding: 25px;
  color: rgb(255, 255, 255);
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 255, 0.334),
    rgb(0, 0, 0)
  );
  border: blue;
}

.author {
  width: 350px;
  color: black;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 5px solid black;
  transition: 2s;
}

.author:hover {
  opacity: 0.5;
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.5),
    rgba(55, 55, 55, 0.5)
  );
  border: 5px solid rgba(0, 0, 0, 1);
  width: 750px;
  color: white;
}

.transition {
  background-color: red;
  width: 750px;
  height: 100px;
  transition: 10s;
}

.transition:hover {
  width: 0px;
}

.navbar {
  margin-top: 3px;
  background-color: black;
  display: flex;
  justify-content: flex-end;
  border-bottom: 2px solid rgba(91, 91, 91, 0.625);
  transition: 2s;
}

.gg-user {
  margin-bottom: 15px;
  margin-top: 15px;
  height: 2%;
}

.login {
  font-size: 15rem;
  border: 0px solid white;
  height: 1000px;
  display: flex;
  text-shadow: 2px 2px 10px black, 0 0 30px blue, 0 0 10px darkblue;
  flex-direction: column;
  justify-content: center;
  margin: 0px;
  align-items: center;
  color: white;
  font-size: 15px;
}

input::placeholder {
  font-size: 1.5rem;
  padding: 10px;
}

.registry {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  font-size: 2.5rem;
  border: 2.5px solid transparent;
  color: white;
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.fPass {
  text-decoration: none;
  background-color: rgba(85, 85, 85, 0.242);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid transparent;
  width: 22%;
}
